.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.all-body{
  background-color: rgb(194, 179, 179);
}


.food-pop{
  height: 805px;
  
  border-radius: 25px 0;
}

.food-love{
  border: 3px solid rgb(93, 35, 150);
  border-radius: 0 23px;
}
.img-border{
  border-radius: 0 0 25px 0;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
